<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraccarClientSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Rest_Client_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TraccarClientSimulator.Properties.Settings>
            <setting name="Server_Name" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Server_Port" serializeAs="String">
                <value>5055</value>
            </setting>
            <setting name="Client_ID" serializeAs="String">
                <value>111111</value>
            </setting>
            <setting name="Client_UserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Client_Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Client_Timer" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Client_lat" serializeAs="String">
                <value>40.9948996</value>
            </setting>
            <setting name="Client_lon" serializeAs="String">
                <value>17.222538900000018</value>
            </setting>
            <setting name="Client_altitude" serializeAs="String">
                <value>111.22</value>
            </setting>
            <setting name="Client_batt" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="Client_bearing" serializeAs="String">
                <value>355.43</value>
            </setting>
            <setting name="Client_speed" serializeAs="String">
                <value>17.222538900000018</value>
            </setting>
        </TraccarClientSimulator.Properties.Settings>
        <Rest_Client_Test.Properties.Settings>
            <setting name="Server_Name" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Server_Port" serializeAs="String">
                <value>5055</value>
            </setting>
            <setting name="Client_ID" serializeAs="String">
                <value>111111</value>
            </setting>
            <setting name="Client_UserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Client_Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Client_Timer" serializeAs="String">
                <value>10</value>
            </setting>
        </Rest_Client_Test.Properties.Settings>
    </userSettings>
</configuration>